<div class="hero hero--language">
		<div class="call_to_action">

      <p>ROKU</p>

			<h1>{{ message }}</h1>
			<h2>please select one of the following options</h2>

			<div class="container-button">

            <a href="/getParents" class="get-posts boton">Parents Movies</a>

            <a href="/getKids" class="get-one boton">Kids Movies</a>


			</div>
		</div>
	</div>



<!--
<h1>{{ message }}</h1>

<ul>
  <li>
    <a href="/getParents" class="get-posts">Parents Movies</a>
  </li>
  <li>
    <a href="/getKids" class="get-one">
      Kids Movies
    </a>
  </li>
</ul>-->

<!--<button id="F56" class="deleteButton">delete row</button>
<button id="F56" class="postButton">post data</button>

<button id="F55" class="getButton">get XHR data</button>
<button id="F56" class="getButton">get XHR data</button>
<button id="R58" class="getButton">get XHR data</button>-->
