<div class="hero hero--language">
		<div class="call_to_action">

      <p>ROKU</p>

			<h1>{{ message }}</h1>
			<h2>please select one of the following options</h2>

			<div class="container-button">

            <a href="/getParents" class="get-posts boton">Parents Movies</a>

            <a href="/getKids" class="get-one boton">Kids Movies</a>


			</div>
		</div>
	</div>
